flows2.json
[{"id":"dfabcfda.293e9","type":"tab","label":"BLE explore","disabled":false,"info":""},{"id":"c18e70fc.e4e2f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fe2feb1f.b82358","type":"tab","label":"SmartPlug2","disabled":false,"info":""},{"id":"410d2739.b9e238","type":"tab","label":"Pi Temperature","disabled":false,"info":""},{"id":"735f0123.9bf14","type":"tab","label":"TabularData","disabled":false,"info":""},{"id":"f2c95db5.ba59a","type":"tab","label":"Scanning","disabled":false,"info":"Examples of how to scan for devices"},{"id":"f04655a6.2e0548","type":"tab","label":"Heart Rate","disabled":false,"info":""},{"id":"ee47c5e8.e17bd","type":"tab","label":"Example of ui-list","disabled":false,"info":""},{"id":"51ce6aa1.620754","type":"ui_group","name":"ui_control","tab":"3b08fac0.8f06b6","order":1,"disp":true,"width":"22","collapse":false},{"id":"3b08fac0.8f06b6","type":"ui_tab","name":"Home","icon":"track_changes","order":1,"disabled":false,"hidden":false},{"id":"1a74d77e.1629f9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c33018a6.89a398","type":"ui_tab","name":"Sonoff","icon":"dashboard"},{"id":"7e4c65d6.0419cc","type":"ui_group","name":"Default","tab":"2f52ec48.3a82cc","order":1,"disp":true,"width":"12","collapse":false},{"id":"2f52ec48.3a82cc","type":"ui_tab","name":"List","icon":"dashboard"},{"id":"bfe79ba9.91ac28","type":"ble-config","name":"MyBLE_Device","retryLimit":"10","infoVendor":"","infoVendorType":"str","infoName":"MyBLE_Device","infoNameType":"str","infoSerial":"","infoSerialType":"str"},{"id":"4b99ebbf.694c94","type":"ble-service","name":"Battery","uuid":"180f"},{"id":"3b8ed67d.460b5a","type":"mqtt-broker","name":"CurrentBroker","broker":"192.168.1.15","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ba92cba0.ee4ad8","type":"inject","z":"735f0123.9bf14","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"name\":\"MEQ0451495\",\"room\":\"Bathroom\",\"SET_TEMPERATURE-value\":22,\"ACTUAL_TEMPERATURE-value\":21.8,\"VALVE_STATE-value\":90,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":true,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ1875547\",\"room\":\"Living Room\",\"SET_TEMPERATURE-value\":12,\"ACTUAL_TEMPERATURE-value\":16.2,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":1},{\"name\":\"MEQ1875538\",\"room\":\"Living Room\",\"SET_TEMPERATURE-value\":18,\"ACTUAL_TEMPERATURE-value\":19.5,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.6,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":2},{\"name\":\"MEQ0447462\",\"room\":\"Kitchen\",\"SET_TEMPERATURE-value\":17,\"ACTUAL_TEMPERATURE-value\":22.2,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":10,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":3},{\"name\":\"MEQ1875551\",\"room\":\"Office\",\"SET_TEMPERATURE-value\":18,\"ACTUAL_TEMPERATURE-value\":20.2,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ0447425\",\"room\":\"Dining Room\",\"SET_TEMPERATURE-value\":19,\"ACTUAL_TEMPERATURE-value\":20.4,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ1875546\",\"room\":\"Dining Room\",\"SET_TEMPERATURE-value\":20,\"ACTUAL_TEMPERATURE-value\":18.8,\"VALVE_STATE-value\":99,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ0447483\",\"room\":\"Bedroom\",\"SET_TEMPERATURE-value\":17,\"ACTUAL_TEMPERATURE-value\":22.4,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ1875541\",\"room\":\"Child\",\"SET_TEMPERATURE-value\":18,\"ACTUAL_TEMPERATURE-value\":20.4,\"VALVE_STATE-value\":0,\"BATTERY_STATE-value\":2.7,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0},{\"name\":\"MEQ1875552\",\"room\":\"Guest Room\",\"SET_TEMPERATURE-value\":20,\"ACTUAL_TEMPERATURE-value\":21.1,\"VALVE_STATE-value\":9,\"BATTERY_STATE-value\":2.8,\"BOOST_STATE-value\":0,\"AUTO_MODE-value\":false,\"CONTROL_MODE-value\":0}]","payloadType":"json","x":90,"y":20,"wires":[["8115c722.5d91d8"]]},{"id":"8115c722.5d91d8","type":"change","z":"735f0123.9bf14","name":"ui_control","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"tabulator\":{\"columnResized\":\"function(column){     var newColumn = {         field: column._column.field,         visible: column._column.visible,         width: column._column.width,         widthFixed: column._column.widthFixed,         widthStyled: column._column.widthStyled     }; this.send({topic:this.config.topic,ui_control:{callback:'columnResized',columnWidths:newColumn}}); }\",\"columnMoved\":\"function(column, columns){     var newColumns=[];     columns.forEach(function (column) {         newColumns.push({'field': column._column.field});     });     this.send({topic:this.config.topic,ui_control:{callback:'columnMoved',columns:newColumns}}); }\",\"groupHeader\":\"function (value, count, data, group) {return value + \\\"<span style='color:#d00; margin-left:10px;'>(\\\" + count + \\\" Termostat\\\"+((count>1) ? \\\"e\\\" : \\\"\\\") + \\\")</span>\\\";}\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"ROom\",\"field\":\"room\",\"width\":100,\"frozen\":true},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Device\",\"field\":\"name\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Type\",\"field\":\"deviceType\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Measurements\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"target\",\"field\":\"SET_TEMPERATURE-value\",\"formatter\":\"function(cell, formatterParams, onRendered){return cell.getValue()+'°C';}\",\"topCalc\":\"avg\",\"width\":100},{\"formatterParams\":{\"target\":\"_blank\",\"min\":10,\"max\":25,\"color\":[\"blue\",\"green\",\"red\"],\"legend\":\"function (value) {return '&nbsp;&nbsp;'+value+'°C';}\",\"legendColor\":\"#101010\",\"legendAlign\":\"left\"},\"title\":\"current\",\"field\":\"ACTUAL_TEMPERATURE-value\",\"formatter\":\"progress\",\"topCalc\":\"avg\",\"width\":100},{\"formatterParams\":{\"target\":\"_blank\",\"min\":0,\"max\":99,\"color\":[\"gray\",\"orange\",\"red\"],\"legend\":\"function (value) {return (value>0)? '&nbsp;&nbsp;'+value+' %' : '-';}\",\"legendColor\":\"#101010\",\"legendAlign\":\"center\"},\"title\":\"Valve\",\"field\":\"VALVE_STATE-value\",\"formatter\":\"progress\",\"topCalc\":\"max\",\"width\":100},{\"formatterParams\":{\"target\":\"_blank\",\"min\":1.5,\"max\":4.6,\"color\":[\"red\",\"orange\",\"green\"],\"legend\":\"function (value) {return value+' V';}\",\"legendColor\":\"#101010\",\"legendAlign\":\"center\"},\"title\":\"Batt\",\"field\":\"BATTERY_STATE-value\",\"formatter\":\"progress\",\"topCalc\":\"min\",\"width\":100}]},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Settings\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\",\"min\":0,\"max\":30,\"color\":[\"red\",\"orange\",\"green\"],\"legend\":\"function (value) {     if (value>0)         return \\\"<span style='color:#101010;'>\\\"+value+\\\" min</span>\\\";     else         return \\\"<span style='color:#A0A0A0;'>aus</span>\\\"; }\",\"legendColor\":\"#101010\",\"legendAlign\":\"center\"},\"title\":\"Boost\",\"field\":\"BOOST_STATE-value\",\"formatter\":\"progress\",\"width\":100},{\"formatterParams\":{\"target\":\"_blank\",\"allowEmpty\":true,\"allowTruthy\":true,\"tickElement\":\"<i class='fa fa-clock-o'></i>\",\"crossElement\":\"<i class='fa fa-ban'></i>\"},\"title\":\"Auto\",\"field\":\"AUTO_MODE-value\",\"formatter\":\"tickCross\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Mode\",\"field\":\"CONTROL_MODE-value\",\"formatter\":\"function(cell, formatterParams, onRendered){     var html=\\\"<i class=\\\\\\\"\\\";     switch(cell.getValue()) {         case 0: html+=\\\"fa fa-calendar-check-o\\\"; break;         case 1: html+=\\\"fa fa-hand-o-up\\\"; break;         case 2: html+=\\\"fa fa-suitcase\\\"; break;         case 3: html+=\\\"fa fa-spinner fa-spin fa-fw\\\"; break;     }     html+='\\\\\\\"></i>';     return html; }\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Auto\",\"field\":\"AUTO_MODE-value\",\"formatter\":\"tick\",\"width\":100,\"align\":\"center\"}]}],\"layout\":\"fitColumns\",\"movableColumns\":true,\"groupBy\":\"\"},\"customHeight\":12}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":60,"wires":[["4b960bb2.f61934"]]},{"id":"5d38f5fa.6541bc","type":"debug","z":"735f0123.9bf14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":150,"y":140,"wires":[]},{"id":"4b960bb2.f61934","type":"ui_table","z":"735f0123.9bf14","group":"51ce6aa1.620754","name":"Thermostats","order":1,"width":"20","height":"7","columns":[],"outputs":1,"cts":true,"x":130,"y":100,"wires":[["5d38f5fa.6541bc"]]},{"id":"e8b16c6c.f05a7","type":"mqtt in","z":"dfabcfda.293e9","d":true,"name":"/ble/json/#","topic":"/ble/json/#","qos":"2","datatype":"auto","broker":"3b8ed67d.460b5a","x":80,"y":400,"wires":[[]]},{"id":"8519b823.2b6358","type":"mqtt in","z":"dfabcfda.293e9","d":true,"name":"/ble/advertise/db:30:bd:19:e7:48/#","topic":"/ble/advertise/db:30:bd:19:e7:48/#","qos":"0","datatype":"auto","broker":"3b8ed67d.460b5a","x":180,"y":440,"wires":[[]]},{"id":"87c6f73e.f22038","type":"mqtt in","z":"dfabcfda.293e9","d":true,"name":"/ble/presence/db:30:bd:19:e7:48/#","topic":"/ble/#","qos":"2","datatype":"auto","broker":"3b8ed67d.460b5a","x":160,"y":240,"wires":[["5637cf82.827cd"]]},{"id":"48841e40.638ff","type":"mqtt in","z":"dfabcfda.293e9","d":true,"name":"/ble/presence/fc:f5:c4:3o:ac:ce/#","topic":"/ble/presence/fc:f5:c4:3o:ac:ce/#","qos":"2","datatype":"auto","broker":"3b8ed67d.460b5a","x":170,"y":300,"wires":[[]]},{"id":"67fc034e.0cafcc","type":"mqtt out","z":"fe2feb1f.b82358","name":"smartplug2/cmnd/POWER","topic":"smartplug2/cmnd/POWER","qos":"","retain":"","broker":"3b8ed67d.460b5a","x":460,"y":40,"wires":[]},{"id":"cb7794ee.b03d38","type":"inject","z":"fe2feb1f.b82358","name":"InjectStringON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"paultopic","payload":"on","payloadType":"str","x":120,"y":40,"wires":[["67fc034e.0cafcc"]]},{"id":"1c83313d.20baef","type":"mqtt in","z":"fe2feb1f.b82358","name":"smartplug2/cmnd/POWER","topic":"smartplug2/cmnd/POWER","qos":"2","datatype":"auto","broker":"3b8ed67d.460b5a","x":130,"y":160,"wires":[["6f6c35fb.9f215c"]]},{"id":"dae5ced7.b1e18","type":"inject","z":"fe2feb1f.b82358","name":"InjectStringOFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"paultopic","payload":"off","payloadType":"str","x":120,"y":80,"wires":[["67fc034e.0cafcc"]]},{"id":"40d198db.b4b598","type":"mqtt in","z":"fe2feb1f.b82358","name":"","topic":"smartplug2/tele/STATE/#","qos":"2","datatype":"auto","broker":"3b8ed67d.460b5a","x":130,"y":220,"wires":[["647a3998.984988"]]},{"id":"6f6c35fb.9f215c","type":"ui_switch","z":"fe2feb1f.b82358","name":"","label":"Plug2Test","tooltip":"","group":"51ce6aa1.620754","order":1,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":540,"y":220,"wires":[[]]},{"id":"c7bd6aa7.2f2488","type":"exec","z":"410d2739.b9e238","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Raspberry CPU Temperature","x":180,"y":80,"wires":[["48a2a54a.256a9c"],[],[]]},{"id":"aa402156.16661","type":"inject","z":"410d2739.b9e238","name":"go","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/10 0 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"go","payloadType":"str","x":90,"y":40,"wires":[["c7bd6aa7.2f2488"]]},{"id":"20da5f4.d5914a","type":"inject","z":"f2c95db5.ba59a","d":true,"name":"Start default","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start","payload":"{}start","payloadType":"str","x":150,"y":120,"wires":[[]]},{"id":"8e056f98.addba","type":"inject","z":"f2c95db5.ba59a","d":true,"name":"Stop scanning","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"stop","payload":"","payloadType":"str","x":150,"y":160,"wires":[[]]},{"id":"106c5f82.24f6","type":"change","z":"f2c95db5.ba59a","d":true,"name":"","rules":[{"t":"set","p":"continuous","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":40,"wires":[[]]},{"id":"3d30f298.889bce","type":"inject","z":"f2c95db5.ba59a","d":true,"name":"Start continuous","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start","payload":"{}180F","payloadType":"str","x":160,"y":40,"wires":[["106c5f82.24f6"]]},{"id":"77f29587.09da2c","type":"change","z":"f2c95db5.ba59a","d":true,"name":"","rules":[{"t":"set","p":"continuous","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"timeout","pt":"msg","to":"10000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":80,"wires":[[]]},{"id":"efc68fcf.12552","type":"inject","z":"f2c95db5.ba59a","d":true,"name":"Scan continuously for 10 secs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start","payload":"{}","payloadType":"json","x":200,"y":80,"wires":[["77f29587.09da2c"]]},{"id":"a0181b25.c67008","type":"BLE device","z":"f2c95db5.ba59a","d":true,"name":"","x":330,"y":240,"wires":[[]]},{"id":"bb5a5f4c.28b82","type":"BLE in","z":"f2c95db5.ba59a","d":true,"topic":"db:30:bd:19:e7:48/180f","characteristic":"180f","name":"180f BLE in","x":310,"y":340,"wires":[[]]},{"id":"204c2dc0.c9dcb2","type":"inject","z":"f04655a6.2e0548","name":"Start scan","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start","payload":"{}","payloadType":"json","x":100,"y":20,"wires":[["35c7b3f4.1bddfc"]]},{"id":"35c7b3f4.1bddfc","type":"BLE scanner","z":"f04655a6.2e0548","d":true,"name":"1812","services":"1812","servicesType":"str","continuous":false,"x":230,"y":20,"wires":[["236844a3.b9b29c","bd89d1.4ab0063","901c1182.61e8d"]]},{"id":"bd89d1.4ab0063","type":"BLE device","z":"f04655a6.2e0548","d":true,"name":"","x":410,"y":40,"wires":[["b1ac49fd.16a198","3c705e84.426592"]]},{"id":"77026649.60e678","type":"BLE in","z":"f04655a6.2e0548","d":true,"topic":"subscribe","characteristic":"2a37","name":"Subscribe HRM","x":280,"y":60,"wires":[["42896f73.29856"]]},{"id":"b1ac49fd.16a198","type":"switch","z":"f04655a6.2e0548","d":true,"name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":90,"y":60,"wires":[["ec1ad005.20c34","77026649.60e678","3c50f2cc.701e8e"]]},{"id":"42896f73.29856","type":"function","z":"f04655a6.2e0548","d":true,"name":"Decode heart rate","func":"var buffer = msg.payload;\nvar flags = buffer.readUInt8();\nconst format = flags & 0x01;\nconst connection = (flags & 0x6) >> 1;\n\nif(connection === 2) {\n    node.status({ fill: \"yellow\", shape: \"dot\", text: \"No sensor contact\" });\n}\nelse {\n    var bpm;\n    buffer = buffer.slice(1);\n    if(format === 0) {\n        bpm = buffer.readUInt8();\n    }\n    else {\n        bpm = buffer.readUInt16();\n    }\n    node.status({ fill: \"green\", shape: \"dot\", text: \"Heart rate: \" + bpm + \" BPM\" });\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":60,"wires":[[]]},{"id":"ec1ad005.20c34","type":"change","z":"f04655a6.2e0548","d":true,"name":"Device Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"read","tot":"str"},{"t":"set","p":"characteristic","pt":"msg","to":"2a00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":140,"wires":[["d1354916.cd3628"]]},{"id":"d1354916.cd3628","type":"BLE in","z":"f04655a6.2e0548","d":true,"topic":"","characteristic":"","name":"","x":290,"y":140,"wires":[["af846296.3da97"]]},{"id":"af846296.3da97","type":"function","z":"f04655a6.2e0548","d":true,"name":"Decode device name","func":"node.status(msg.payload.toString());\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":140,"wires":[[]]},{"id":"3c50f2cc.701e8e","type":"BLE in","z":"f04655a6.2e0548","d":true,"topic":"read","characteristic":"2a29","name":"Read manufacturer","x":170,"y":100,"wires":[["56dac25a.4e535c"]]},{"id":"56dac25a.4e535c","type":"function","z":"f04655a6.2e0548","d":true,"name":"Decode manufacturer name","func":"node.status(msg.payload.toString());\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":100,"wires":[[]]},{"id":"bd19b999.f27f48","type":"ui_chart","z":"410d2739.b9e238","name":"plotTemperature","group":"51ce6aa1.620754","order":1,"width":"2","height":"2","label":"ChartTitle","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":340,"y":320,"wires":[[]]},{"id":"1d892d5d.a1b1b3","type":"mqtt in","z":"dfabcfda.293e9","d":true,"name":"/ble/#","topic":"/ble/#","qos":"0","datatype":"auto","broker":"3b8ed67d.460b5a","x":70,"y":560,"wires":[["a19698b7.ce27c8"]]},{"id":"a19698b7.ce27c8","type":"python-function","z":"dfabcfda.293e9","d":true,"name":"","func":"myTopic = msg['topic']\nmyPayload=msg['payload']\nmyMessage={'Topic':myTopic,'Payload':myPayload}\nmsg['payload']=myMessage\nreturn msg","outputs":1,"x":260,"y":560,"wires":[[]]},{"id":"2ff33348.95f34c","type":"mqtt in","z":"dfabcfda.293e9","d":true,"name":"/homeassistant/#","topic":"/homeassistant/#","qos":"0","datatype":"auto","broker":"3b8ed67d.460b5a","x":80,"y":520,"wires":[["917a0ed2.dfe46"]]},{"id":"917a0ed2.dfe46","type":"python-function","z":"dfabcfda.293e9","d":true,"name":"","func":"myTopic = msg['topic']\nmyPayload=msg['payload']\nmyMessage={'Topic':myTopic,'Payload':myPayload}\nmsg['payload']=myMessage\nreturn msg","outputs":1,"x":280,"y":500,"wires":[[]]},{"id":"6fd4870a.63a868","type":"mqtt in","z":"dfabcfda.293e9","name":"#","topic":"#","qos":"0","datatype":"auto","broker":"3b8ed67d.460b5a","x":70,"y":20,"wires":[["fd7299d5.184c38"]]},{"id":"f230e995.ccdfc8","type":"python-function","z":"dfabcfda.293e9","d":true,"name":"","func":"msg1=msg.copy()\nmsg2=msg.copy()\nmyTopic = msg['topic']\nmyPayload=msg['payload']\nmyMessage1={'Topic':myTopic,'Payload':myPayload}\nmyMessage2={'Topic':\"Bangle.js e748\",'Payload':myPayload}\nmsg1['payload']=myMessage1\nmsg2['payload']=myMessage2\nif \"db30bd19e748\" in myTopic: #\n return [msg2,msg2]\nelse:\n return [msg1,msg1]","outputs":2,"x":140,"y":340,"wires":[[],[]]},{"id":"ccf3e49f.190be","type":"inject","z":"ee47c5e8.e17bd","name":"Fruits","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"title\":\"<b>Apple</b>\",\"description\":\"This is description of <font color=\\\"red\\\"><b>Apple</b></b>.\",\"icon\":\"https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Red_Apple.jpg/500px-Red_Apple.jpg\"},{\"title\":\"<b>Banana</b>\",\"description\":\"This is description of <font color=\\\"yellow\\\"><b>Banana</b></font>(no picture).\",\"icon\":null},{\"title\":\"<b>Orange</b>\",\"description\":\"This is description of <font color=\\\"orange\\\"><b>Orange</b></font>.\",\"icon\":\"https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Ambersweet_oranges.jpg/440px-Ambersweet_oranges.jpg\"},{\"title\":\"<b>Watermelon</b>\",\"description\":\"This is description of <font color=\\\"green\\\"><b>Watermelon</b></font>.\",\"icon\":\"https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Vampire_watermelon.jpg/440px-Vampire_watermelon.jpg\"}]","payloadType":"json","x":110,"y":100,"wires":[["93612884.34d35"]]},{"id":"cd592928.56da38","type":"debug","z":"ee47c5e8.e17bd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":100,"wires":[]},{"id":"503b6c22.32a6fc","type":"inject","z":"ee47c5e8.e17bd","name":"WiFi","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"title\":\"No WiFi Signal\",\"description\":\"Lost network connection\",\"icon_name\":\"signal_wifi_0_bar\"},{\"title\":\"Weak WiFi Signal\",\"description\":\"May lose network connection\",\"icon_name\":\"signal_wifi_2_bar\"},{\"title\":\"Strong WiFi Signal\",\"description\":\"Connected to network\",\"icon_name\":\"signal_wifi_4_bar\"}]","payloadType":"json","x":110,"y":180,"wires":[["4783aeef.e2332"]]},{"id":"ceb5f753.ed31a8","type":"inject","z":"ee47c5e8.e17bd","name":"Day of Week","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"title\":\"Sunday\",\"isChecked\":true},{\"title\":\"Monday\"},{\"title\":\"Tuesday\"},{\"title\":\"Wednesday\"},{\"title\":\"Thursday\"},{\"title\":\"Friday\"},{\"title\":\"Saturday\",\"isChecked\":true}]","payloadType":"json","x":130,"y":260,"wires":[["f46b267.9f03558"]]},{"id":"ea6d6cbc.9770a8","type":"debug","z":"ee47c5e8.e17bd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":260,"wires":[]},{"id":"c75bdf1a.71a15","type":"debug","z":"ee47c5e8.e17bd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":180,"wires":[]},{"id":"640d11fe.215c28","type":"inject","z":"ee47c5e8.e17bd","name":"Drink","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"title\":\"Coffee\",\"isChecked\":true},{\"title\":\"Tea\",\"isChecked\":false},{\"title\":\"Green Tea\",\"isChecked\":true}]","payloadType":"json","x":110,"y":340,"wires":[["b3639cb1.702ff"]]},{"id":"b7d652df.067b4","type":"debug","z":"ee47c5e8.e17bd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":340,"wires":[]},{"id":"f0859d08.93b8a8","type":"inject","z":"ee47c5e8.e17bd","name":"Move","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"title\":\"Direction\",\"menu\":[\"East\",\"West\",\"South\",\"North\"]},{\"title\":\"Speed\",\"menu\":[\"High\",\"Middle\",\"Low\"]}]","payloadType":"json","x":110,"y":420,"wires":[["f577f7cb.d19068"]]},{"id":"ad3b8b.58131c78","type":"debug","z":"ee47c5e8.e17bd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":420,"wires":[]},{"id":"93612884.34d35","type":"ui_list","z":"ee47c5e8.e17bd","group":"7e4c65d6.0419cc","name":"","order":1,"width":"6","height":"5","lineType":"three","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":290,"y":100,"wires":[["cd592928.56da38"]]},{"id":"f46b267.9f03558","type":"ui_list","z":"ee47c5e8.e17bd","group":"7e4c65d6.0419cc","name":"","order":3,"width":"4","height":"7","lineType":"one","actionType":"check","allowHTML":false,"outputs":1,"x":290,"y":260,"wires":[["ea6d6cbc.9770a8"]]},{"id":"4783aeef.e2332","type":"ui_list","z":"ee47c5e8.e17bd","group":"7e4c65d6.0419cc","name":"","order":2,"width":"6","height":"5","lineType":"two","actionType":"none","allowHTML":true,"outputs":0,"topic":"","x":290,"y":180,"wires":[]},{"id":"b3639cb1.702ff","type":"ui_list","z":"ee47c5e8.e17bd","group":"7e4c65d6.0419cc","name":"","order":3,"width":"4","height":"4","lineType":"two","actionType":"switch","allowHTML":false,"outputs":1,"topic":"","x":290,"y":340,"wires":[["b7d652df.067b4"]]},{"id":"f577f7cb.d19068","type":"ui_list","z":"ee47c5e8.e17bd","group":"7e4c65d6.0419cc","name":"","order":3,"width":"6","height":"2","lineType":"one","actionType":"menu","allowHTML":false,"outputs":1,"x":290,"y":420,"wires":[["ad3b8b.58131c78"]]},{"id":"5a58c5fc.ced49c","type":"debug","z":"f04655a6.2e0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":240,"wires":[]},{"id":"6f3e05a3.3d659c","type":"BLE out","z":"f04655a6.2e0548","d":true,"characteristic":"180f","name":"180f","x":470,"y":340,"wires":[]},{"id":"60c3e0ab.e9b0d","type":"BLE scanner","z":"f04655a6.2e0548","d":true,"name":"","services":"180F","servicesType":"str","continuous":false,"x":110,"y":220,"wires":[["6fb96dae.1279b4"]]},{"id":"14ba6e0d.c9dcf2","type":"python-function","z":"f04655a6.2e0548","d":true,"name":"","func":"# myDict2=json.loads(msg[\"payload\"])\nmyObject=msg\nmyBleDeviceName=myObject[\"name\"]\nmyNewMessage={'Paul':myBleDeviceName,'Pedro':myBleDeviceName}\n\nmsg['payload']=myBleDeviceName\nreturn myNewMessage\n","outputs":1,"x":320,"y":200,"wires":[["5d11e1fa.4e856"]]},{"id":"5d11e1fa.4e856","type":"debug","z":"f04655a6.2e0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":200,"wires":[]},{"id":"1b2ad8dd.f65477","type":"BLE in","z":"f04655a6.2e0548","d":true,"topic":"","characteristic":"180f","name":"180f","x":670,"y":400,"wires":[["39ed63cd.f1ee4c"]]},{"id":"39ed63cd.f1ee4c","type":"debug","z":"f04655a6.2e0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":340,"wires":[]},{"id":"a13f71f8.31ce2","type":"BLE in","z":"f04655a6.2e0548","d":true,"topic":"","characteristic":"1812","name":"1812","x":670,"y":440,"wires":[[]]},{"id":"9237dbf2.e6a1c8","type":"debug","z":"f04655a6.2e0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":320,"wires":[]},{"id":"227dbe3.084f842","type":"BLE in","z":"f04655a6.2e0548","d":true,"topic":"subscribe","characteristic":"180f","name":"Subscribe 180f","x":500,"y":260,"wires":[["9237dbf2.e6a1c8"]]},{"id":"9009d3f6.5923c","type":"switch","z":"f04655a6.2e0548","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":280,"wires":[["227dbe3.084f842","e25fca72.37a088"]]},{"id":"e25fca72.37a088","type":"BLE in","z":"f04655a6.2e0548","d":true,"topic":"read","characteristic":"180f","name":"Read 180f","x":270,"y":360,"wires":[["f1813236.6b906"]]},{"id":"bd2fd5bb.77abe8","type":"python-function","z":"f04655a6.2e0548","d":true,"name":"","func":"# myDict2=json.loads(msg[\"payload\"])\nmyTopic=msg['topic']\n# myObject=msg\n# myBleDeviceName=myObject[\"name\"]\nmyNewMessage={'Paul':myTopic}\n\n# msg['payload']=myBleDeviceName\nreturn myNewMessage\n","outputs":1,"x":160,"y":440,"wires":[["fb2b5a29.f1eb28"]]},{"id":"fb2b5a29.f1eb28","type":"debug","z":"f04655a6.2e0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":440,"wires":[]},{"id":"d2c93377.456ce","type":"inject","z":"f04655a6.2e0548","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"peripheral\":\"7bf8abf42c0f\",\"address\":\"7b:f8:ab:f4:2c:0f\",\"rssi\":-80,\"connectable\":true,\"name\":\"Galaxy J7 Sky Pro\",\"txPowerLevel\":-7,\"services\":[\"180f\"],\"_msgid\":\"cf45578e.a30888\"}","payloadType":"json","x":90,"y":340,"wires":[[]]},{"id":"6fb96dae.1279b4","type":"BLE device","z":"f04655a6.2e0548","d":true,"name":"Galaxy","x":100,"y":280,"wires":[["bd2fd5bb.77abe8","9009d3f6.5923c"]]},{"id":"f1813236.6b906","type":"debug","z":"f04655a6.2e0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":420,"wires":[]},{"id":"236844a3.b9b29c","type":"python-function","z":"f04655a6.2e0548","d":true,"name":"","func":"# myDict2=json.loads(msg[\"payload\"])\nmyObject=msg\nmyBleDeviceName=myObject[\"name\"]\nmyNewMessage={'Paul':myBleDeviceName,'Pedro':myBleDeviceName}\n\nmsg['payload']=myBleDeviceName\nreturn myNewMessage\n","outputs":1,"x":620,"y":20,"wires":[["eee91385.932e2"]]},{"id":"eee91385.932e2","type":"debug","z":"f04655a6.2e0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":60,"wires":[]},{"id":"a5fcf27c.d3df3","type":"debug","z":"f04655a6.2e0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":120,"wires":[]},{"id":"3c705e84.426592","type":"switch","z":"f04655a6.2e0548","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":650,"y":180,"wires":[["a5fcf27c.d3df3"]]},{"id":"901c1182.61e8d","type":"debug","z":"f04655a6.2e0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":575,"y":92,"wires":[]},{"id":"fd7299d5.184c38","type":"function","z":"dfabcfda.293e9","name":"FuncBLEfilter","func":"// mySubstringTopic=msg.topic.substring(0,15);\n// mySubstringPayload=msg.payload.substring(0,15);\nnewMsg=msg;\n// newMsg=null;\n// node.warn(\"msg.payload:\" + mySubstringPayload );\n// node.warn(\"msg.topic: \" + msg.topic );\n// node.warn(\"msg.topicSubstring:\" + mySubstringTopic );\nif(msg.topic.startsWith(\"wallpanel\"))newMsg=null;\nif(msg.topic.startsWith(\"homeassistant\"))newMsg=null;\nif(msg.topic.startsWith(\"homeassistant\"))newMsg=null;\nif(msg.topic.startsWith(\"/ble/presence\"))newMsg=null;\nif(msg.topic.startsWith(\"smartplug2\"))newMsg=null;\n\n// if (msg.payload.startsWith(\"{\" )){\n//     var myPayloadObject = JSON.parse(msg.payload);\n//     // node.warn(\"null: \" + \"null\" );\n//     // newMsg.payload = myPayloadObject.payload;\n//     // newmsg=null;\n//     // msg=null;\n// }\nreturn [msg,newMsg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":280,"y":20,"wires":[[],["7367ebed.4b3674"]]},{"id":"9552a413.706438","type":"debug","z":"dfabcfda.293e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":20,"wires":[]},{"id":"3417f585.ad0e8a","type":"mqtt in","z":"dfabcfda.293e9","d":true,"name":"#  PI","topic":"#","qos":"2","datatype":"auto","broker":"3b8ed67d.460b5a","x":370,"y":460,"wires":[[]]},{"id":"3a449c8a.6732d4","type":"mqtt in","z":"dfabcfda.293e9","d":true,"name":"# Centrino","topic":"#","qos":"2","datatype":"auto","broker":"3b8ed67d.460b5a","x":600,"y":440,"wires":[[]]},{"id":"48a2a54a.256a9c","type":"function","z":"410d2739.b9e238","name":"","func":"var newMsg = { payload: msg.payload.length, topic: \"paul\"};\nmySubstring=msg['payload'].substring(5, msg['payload'].length - 3);\nfloatCent = parseFloat(mySubstring);\nfloatFahr = floatCent* (9.0/5.0)+32.0;\nfloatFahr =  parseFloat(floatFahr.toFixed(2))\nmyTemperature={'Cent':floatCent,'Fahr': floatFahr};\nvar fahrenheitMsg = { payload: floatFahr, topic: \"paul\"};\nfahrenheitMsg.payload=floatFahr;\nnewMsg.payload=myTemperature;\nreturn[msg,newMsg ,fahrenheitMsg]","outputs":3,"noerr":0,"initialize":"","finalize":"","x":400,"y":60,"wires":[[],["7346de84.94087"],["bd19b999.f27f48","53062f6a.4d8ae"]]},{"id":"7346de84.94087","type":"debug","z":"410d2739.b9e238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":260,"wires":[]},{"id":"647a3998.984988","type":"function","z":"fe2feb1f.b82358","name":"Func345","func":"\nmySubstring=msg.payload.substring(0,1);\nvar newMsg = { payload: msg.payload, topic: \"paul3Topic\"};\nif (mySubstring==\"{\" ){\n    var myPayloadObject = JSON.parse(msg.payload);\n    node.warn(\"smartPlug2 state = \" +myPayloadObject.POWER  );\n    newMsg.payload = myPayloadObject.POWER;\n}else{\n    msg.payload =\"on\";\n}\nreturn[msg,newMsg]\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[[],["6f6c35fb.9f215c"]]},{"id":"681e2bc3.83e9d4","type":"mqtt in","z":"c18e70fc.e4e2f","name":"BangleJS data","topic":"homeassistant/sensor/db30bd19e748/#","qos":"2","datatype":"auto","broker":"3b8ed67d.460b5a","x":120,"y":40,"wires":[["9c77598e.be2e58"]]},{"id":"33440d36.74c1a2","type":"debug","z":"c18e70fc.e4e2f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":40,"wires":[]},{"id":"9c77598e.be2e58","type":"function","z":"c18e70fc.e4e2f","name":"Func","func":"// msg.topic = msg.topic;\n// var obj = JSON.parse(msg.payload)\n// name = obj.unit_of_measurement;\n// node.warn( name  );\n\n// node.warn(name + \" my paul mySubstring \" );\n// name = msg.payload.values[0].value\n// mySubstring=msg.payload.substring(5, msg['payload'].length - 3);\n// node.warn(name + \" my paul mySubstring \" );\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":40,"wires":[["33440d36.74c1a2"]]},{"id":"93ec770.f992a88","type":"Xiaomi BLE","z":"c18e70fc.e4e2f","name":"","address":"db:30:bd:19:e7:48","scanningTimeout":60,"x":260,"y":180,"wires":[[]]},{"id":"b098c26.e914d4","type":"ble-in","z":"c18e70fc.e4e2f","d":true,"localName":"","bluetooth":"","service":"","characteristic":"","x":190,"y":320,"wires":[[]]},{"id":"bc36cebc.53881","type":"BLE scanner","z":"c18e70fc.e4e2f","name":"","services":"180F","servicesType":"str","continuous":false,"x":270,"y":240,"wires":[["d7610285.575ab"]]},{"id":"fbf4a8c.ce4fd58","type":"inject","z":"c18e70fc.e4e2f","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start","payload":"","payloadType":"str","x":90,"y":220,"wires":[["bc36cebc.53881"]]},{"id":"d7610285.575ab","type":"debug","z":"c18e70fc.e4e2f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":220,"wires":[]},{"id":"bdb95602.c481c8","type":"inject","z":"c18e70fc.e4e2f","name":"stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"stop","payload":"","payloadType":"str","x":90,"y":260,"wires":[["bc36cebc.53881"]]},{"id":"a1bb9dc0.f27d4","type":"mqtt in","z":"dfabcfda.293e9","d":true,"name":"BangleJS data","topic":"/ble/advertise/db:30:bd:19:e7:48/data","qos":"2","datatype":"auto","broker":"3b8ed67d.460b5a","x":300,"y":380,"wires":[["6b8daa81.34a414"]]},{"id":"6b8daa81.34a414","type":"function","z":"dfabcfda.293e9","d":true,"name":"Set topic, remove quotes","func":"msg.topic = \"any_topic_here\";\nmsg.payload = msg.payload.replace(/['\"]+/g, \"\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":380,"wires":[["340bb3fd.47b7bc"]]},{"id":"340bb3fd.47b7bc","type":"debug","z":"dfabcfda.293e9","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":380,"wires":[]},{"id":"5637cf82.827cd","type":"debug","z":"dfabcfda.293e9","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":260,"wires":[]},{"id":"5d8f312f.c435e","type":"ble-in","z":"c18e70fc.e4e2f","d":true,"localName":"","bluetooth":"","service":"","characteristic":"","x":110,"y":360,"wires":[[]]},{"id":"8fbcf6da.6ed418","type":"ble-notify","z":"c18e70fc.e4e2f","d":true,"localName":"myNode","bluetooth":"bfe79ba9.91ac28","service":"4b99ebbf.694c94","characteristic":"180f","x":240,"y":100,"wires":[]},{"id":"53062f6a.4d8ae","type":"debug","z":"410d2739.b9e238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":400,"wires":[]},{"id":"9a51f7f4.ed7d28","type":"mqtt in","z":"fe2feb1f.b82358","name":"","topic":"bluefruitConnect/uart","qos":"2","datatype":"auto","broker":"3b8ed67d.460b5a","x":110,"y":280,"wires":[["e3c22df8.2a14c"]]},{"id":"2de20a9a.e75416","type":"function","z":"fe2feb1f.b82358","name":"Func345asdf","func":"\nmySubstring=msg.payload.substring(0,msg.payload.length-1);\n// mySubstring=msg.payload.substring(0,1);\nnode.warn(mySubstring );\n\nvar newMsg = { payload: mySubstring, topic: \"paul3Topic\"};\n// node.warn(msg.payload  );\n\n// if (mySubstring==\"{\" ){\n//     var myPayloadObject = JSON.parse(msg.payload);\n//     node.warn(myPayloadObject.POWER  );\n//     // myDict2=json.loads(msg[\"payload\"]);\n//     // myPowerString=myDict2[\"POWER\"];\n//     // msg['payload']=myPowerString;\n//     newMsg.payload = myPayloadObject.POWER;\n// }else{\n//     msg.payload =\"on\";\n// }\nreturn[msg,newMsg]\n\n// return[msg,newMsg ,fahrenheitMsg]","outputs":2,"noerr":0,"initialize":"","finalize":"","x":270,"y":380,"wires":[[],[]]},{"id":"714d2abe.a7f7d4","type":"mqtt out","z":"fe2feb1f.b82358","name":"smartplug2/cmnd/POWER","topic":"smartplug2/cmnd/POWER","qos":"0","retain":"","broker":"3b8ed67d.460b5a","x":540,"y":280,"wires":[]},{"id":"2e2c1454.0923cc","type":"mqtt out","z":"fe2feb1f.b82358","name":"bluefruitConnect/uart/PaulSaid","topic":"bluefruitConnect/uart/PaulSaid","qos":"0","retain":"","broker":"3b8ed67d.460b5a","x":550,"y":360,"wires":[]},{"id":"896fd75f.8e7658","type":"inject","z":"fe2feb1f.b82358","name":"PaulSaid","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"paultopic","payload":"PaulSaidThis","payloadType":"str","x":100,"y":360,"wires":[[]]},{"id":"7ec60f8f.db1a9","type":"mqtt in","z":"735f0123.9bf14","name":"Paul/Data/#","topic":"Paul/Data/#","qos":"2","datatype":"auto","broker":"3b8ed67d.460b5a","x":110,"y":220,"wires":[["df367259.3a663"]]},{"id":"df367259.3a663","type":"debug","z":"735f0123.9bf14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":220,"wires":[]},{"id":"e3c22df8.2a14c","type":"function","z":"fe2feb1f.b82358","name":"Func332","func":"\nmySubstring=msg.payload.substring(0,msg.payload.length-1);\nnode.warn(msg.payload );\nvar newMsg = { payload: mySubstring, topic: \"paul3Topic\"};\nif (mySubstring==\"on\"  || mySubstring==\"off\" ){\n    return[msg,newMsg]\n}\nreturn[msg]","outputs":2,"noerr":0,"initialize":"","finalize":"","x":300,"y":280,"wires":[[],["714d2abe.a7f7d4"]]},{"id":"ceeba387.9082f","type":"debug","z":"c18e70fc.e4e2f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":140,"wires":[]},{"id":"87f51916.910288","type":"mqtt in","z":"c18e70fc.e4e2f","name":"","topic":"myBLE_Scan/advertiser","qos":"2","datatype":"auto","broker":"3b8ed67d.460b5a","x":120,"y":140,"wires":[["ceeba387.9082f"]]},{"id":"7367ebed.4b3674","type":"debug","z":"dfabcfda.293e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":80,"wires":[]},{"id":"ffb00c3c.18ffd","type":"mqtt in","z":"dfabcfda.293e9","name":"/ble/presence/#","topic":"/ble/presence/#","qos":"0","datatype":"auto","broker":"3b8ed67d.460b5a","x":100,"y":80,"wires":[["67094732.da69c8"]]},{"id":"f88dfaae.065438","type":"debug","z":"dfabcfda.293e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":240,"wires":[]},{"id":"e3ac0533.0ea4e8","type":"mqtt in","z":"dfabcfda.293e9","name":"/homeassistant/#","topic":"/homeassistant/#","qos":"0","datatype":"auto","broker":"3b8ed67d.460b5a","x":100,"y":120,"wires":[[]]},{"id":"67094732.da69c8","type":"function","z":"dfabcfda.293e9","name":"MacFilterBLE","func":"// mySubstringTopic=msg.topic.substring(0,15);\n// mySubstringPayload=msg.payload.substring(0,15);\nnewMsg=msg;\nvar myMacAddresses=[\"office\",\"b8:bc:5b:44:f9:4e\",\"6c:d0:5b:41:91:47\"\n,\"5b:a3:d0:eb:f9:b4\",\"68:14:9b:02:82:61\",\"57:4b:20:7d:cc:d8\"\n,\"70:91:4b:fa:cb:c9\",\"79:d4:cd:93:1d:1c\",\"4a:ac:a7:ce:58:33\"\n,\"6e:ab:22:5a:32:9f\",\"ee:44:20:56:bf:8f\",\"63:3e:cf:38:dc:3f\"\n,\"77:be:8b:9a:a1:61\",\"7f:43:06:86:de:b3\"];\nfor(i=0;i<myMacAddresses.length;i++){\n    if(msg.topic.includes(myMacAddresses[i])){\n        newMsg=null;\n        node.warn(\"myMacAddresses: \" + myMacAddresses[i] );\n    }\n}\nif(newMsg!=null){\n    // node.warn(\": \" + msg.topic);\n    newMsg=null\n}\n// newMsg=null;\n// node.warn(\"msg.payload:\" + mySubstringPayload );\n// node.warn(\"msg.topic: \" + msg.topic );\n// node.warn(\"msg.topicSubstring:\" + mySubstringTopic );\n// if(msg.topic.startsWith(\"homeassistant\"))msg=null;\n// if(msg.topic.startsWith(\"/ble/presence/b8:bc:5b:44:f9:4e\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/6c:d0:5b:41:91:47\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/5b:a3:d0:eb:f9:b4\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/68:14:9b:02:82:61\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/57:4b:20:7d:cc:d8\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/70:91:4b:fa:cb:c9\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/79:d4:cd:93:1d:1c\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/4a:ac:a7:ce:58:33\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/6e:ab:22:5a:32:9f\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/ee:44:20:56:bf:8f\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/63:3e:cf:38:dc:3f\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/77:be:8b:9a:a1:61\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/7f:43:06:86:de:b3\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/7c:c0:32:59:9a:1a\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/48:c4:77:f2:93:2b\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/4b:38:d0:d7:80:46\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/78:ec:b5:d4:06:b4\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/54:86:44:df:5c:81\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/73:b7:84:25:41:3a\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/4d:3f:8c:85:07:bf\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/6d:31:68:af:c0:a8\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/53:9e:77:d3:92:f0\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/5b:8b:e2:03:54:9f\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/50:f7:3d:88:05:c3\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/72:fc:79:e0:31:06\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/56:1e:2b:a1:6e:92\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/54:8f:a1:67:6d:55\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/65:2a:f1:0e:b5:a1\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/5b:27:6f:4c:d7:1e\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/46:f9:8c:ab:55:01\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/4e:91:a7:53:0f:13\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/6e:fb:1c:fa:27:2d\"))newMsg=null;\n// if(msg.topic.startsWith(\"/ble/presence/70:c3:f3:8f:86:09\"))newMsg=null;\n// if(msg.topic.startsWith(\"smartplug2\"))newMsg=null;\n// if(newMsg==null)node.warn(\"null: \" + \"null\" );\n\n// if (msg.payload.startsWith(\"{\" )){\n//     var myPayloadObject = JSON.parse(msg.payload);\n//     // node.warn(\"null: \" + \"null\" );\n//     // newMsg.payload = myPayloadObject.payload;\n//     // newmsg=null;\n//     // msg=null;\n// }\nreturn [msg,newMsg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":380,"y":80,"wires":[[],[]]},{"id":"8f517b75.db5008","type":"mqtt in","z":"dfabcfda.293e9","name":"BangleWatch/#","topic":"BangleWatch/#","qos":"0","datatype":"auto","broker":"3b8ed67d.460b5a","x":100,"y":160,"wires":[["9f2bac8b.944cc"]]},{"id":"9f2bac8b.944cc","type":"function","z":"dfabcfda.293e9","name":"FuncBangleWatch","func":"\nnewMsg=msg;\nnode.warn(msg.payload)\nnewMsg.payload=\"TOGGLE\";\nif (!msg.payload.startsWith(\"detected\" )){\n//     var myPayloadObject = JSON.parse(msg.payload);\n//     // node.warn(\"null: \" + \"null\" );\n//     // newMsg.payload = myPayloadObject.payload;\n    newmsg=null;\n    msg=null;\n}\nreturn [msg,newMsg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":310,"y":160,"wires":[["f88dfaae.065438"],["27275369.cdc0dc"]]},{"id":"27275369.cdc0dc","type":"mqtt out","z":"dfabcfda.293e9","name":"smartplug2/cmnd/POWER","topic":"smartplug2/cmnd/POWER","qos":"","retain":"","broker":"3b8ed67d.460b5a","x":560,"y":160,"wires":[]},{"id":"1a6f4169.257c9f","type":"mqtt in","z":"dfabcfda.293e9","name":"/BLE/advertised/device","topic":"/BLE/advertised/device","qos":"0","datatype":"auto","broker":"3b8ed67d.460b5a","x":154.8958282470703,"y":205.88888549804688,"wires":[["919b3f41.47506"]]},{"id":"919b3f41.47506","type":"debug","z":"dfabcfda.293e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":220,"wires":[]}]